*.DS_Store
*.class
*.classpath
*.iml
*.project
*.settings
*java#
*~
examples/Hackbook/bin/
examples/Hackbook/gen/
examples/Hackbook/local.properties
examples/simple/bin/
examples/simple/gen/
examples/stream/bin/
examples/stream/gen/
facebook/bin/
facebook/gen/
facebook/local.properties
tests/bin
tests/gen